body {
    margin: 0;
    padding: 0;
    padding-top: 40px;
    font-family: Arial, sans-serif;
    color: #333;
}

html {
    scroll-behavior: smooth;
}

h1, h2 {
    color: #000;
    text-align: center;
    margin: 30px;
    padding: 0;
}

nav {
    background-color: #111;
    display: flex;
    align-items: left;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, #111, #555);
    border-bottom: 2px solid #111;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    transition: padding 0.2s ease-in-out;
}

a:hover {
    background-image: linear-gradient(to top, #555, #ff0000);
}

nav a:last-child {
    margin-left: auto;
}

p{
    color: #000;
    text-align: center;
    margin: 30px;
    padding: 0;
}

#home {
    background-color: #cfcfcf;
    padding-top: 30vh;
    height: 60vh;
}

#carros {
    background-color: #999;
    padding-top: 30vh;
    height: 60vh;
}

#camionetes {
    background-color: #cfcfcf;
    padding-top: 30vh;
    height: 60vh;
}

#empresa {
    background-color: #999;
    padding-top: 30vh;
    height: 60vh;
}

#login{
    background-image: linear-gradient(to bottom, #999, #555);
    align-items: left;
    text-decoration: none;
    border-radius: 8px;
}

.image-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.image-gallery img {
    margin: 10px;
    width: 400px; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
